#root {
  max-width: 1280px;
  margin: auto;
  margin-top: 2em;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 600px;
}

.viewButtons {
  display: flex;
  margin-bottom: 3em;
  justify-content: space-around;
}

.barChartView {
  display: flex;
  justify-content: center;
}

.barChartView  button {
  width: 65%;
}
